<% @version_for_url_path = "d34379b0-a290-47c7-bc6c-c45a9adfa8c8" %>
<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>

  <div class="nav-content">
    <ul class="menu">

      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          RabbitMQ for PCF
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/index.html">RabbitMQ for PCF</a>
            </li>

            <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/releases.html">Release Notes</a>
            </li>

            <li class="menu-link">
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/about.html">Architecture</a>
            </li>

         </ul>
        </div>

        <li class="menu-item js-menu-item">
          <div class="menu-title js-menu-title">
             Operator Guide (On-Demand Service)
          </div>
          <div class="menu-content js-menu-content" aria-hidden="true">
            <ul>

            <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/install-config.html">Installing and Configuring</a>
            </li>

            <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/monitor.html">Monitoring</a>
            </li>

            <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/troubleshoot.html">Troubleshooting</a>
            </li>
          </ul>

          <li class="menu-item js-menu-item">
            <div class="menu-title js-menu-title">
              App Developer Guide (On-Demand Service)
            </div>
            <div class="menu-content js-menu-content" aria-hidden="true">
              <ul>

             <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/use.html">Using RabbitMQ with PCF Apps</a>
            </li>
             <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/reference.html">Environment Variables</a>
            </li>
             <li>
              <a href="/rabbitmq-cf-<%= @version_for_url_path %>/troubleshoot-instances.html">Troubleshooting Instances</a>
            </li>
          </ul>

          <li class="menu-item js-menu-item">
            <div class="menu-title js-menu-title">
              Pre-Provisioned RabbitMQ for PCF (Not On-Demand)
            </div>
            <div class="menu-content js-menu-content" aria-hidden="true">
              <ul>

              <li>
                <a href="/rabbitmq-cf/1-7/index.html">Pre-Provisioned RabbitMQ for PCF</a>
              </li>
          </ul>

      </div>
    </ul>
  </div>

</div>
<!--end of sub-nav-->
