<% @version_for_url_path = "d34379b0-a290-47c7-bc6c-c45a9adfa8c7" %>
<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/index.html">RabbitMQ&reg; for PCF</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/deploying.html">Deploying</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/upgrade.html">Upgrades</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/configuring.html">Configuring</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/policies.html">Policies</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/partitions.html">Clustering and Network Partitions</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/managing.html">Managing</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/metrics_logging.html">Logging, Heartbeats, and Metrics</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/vcap-services.html">Environment Variables</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/releases.html">Release Notes</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/resources.html">Resource Requirements</a>
      </li>

      <li>
        <a href="/rabbitmq-cf-<%= @version_for_url_path %>/on_demand_broker.html">Configuring and Managing RabbitMQ Dedicated Instances - Experimental</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
